@use '../scss/base/mixin.scss' as flex;

.index-slider {

  // .index-slider__wrapper

  &__wrapper {}

  // .index-slider__slide

  &__slide {
    width: 100%;
    padding: clamp(183px, 17vw, 300px) 0px 200px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  // .index-slider__container

  &__container {
    width: 100%;
  }

  // .index-slider__slide-inner

  &__slide-inner {}

  // .index-slider__title

  &__title {
    color: rgba(255, 255, 255, 1);
    max-width: 650px;
    font-size: clamp(30px, 5vw, 56px);
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 26px;
    transform: translateY(40px);
    opacity: 0;
    transition-duration: .5s;
    transition-delay: .2s;
  }

  // .index-slider__text

  &__text {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 300;
    line-height: 155%;
    margin-bottom: 50px;
    transform: translateY(40px);
    opacity: 0;
    max-width: 681px;
    transition-duration: .5s;
    transition-delay: .4s;

    @media screen and (min-width: 425px) {
      font-size: 26px;
    }
  }

  // .index-slider__link

  &__link {
    position: relative;
    width: 215px;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    border-radius: 100px;
    background: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    transform: translateY(40px);
    opacity: 0;
    transition-duration: .5s;
    transition-delay: .6s;

    @media (hover:hover) {
      &:hover {
        background-color: rgb(190, 187, 187);
      }
    }

    @media screen and (max-width: 425px) {
      width: 100%;
      height: 53px;
    }
  }

  // .index-slider__pagination

  &__pagination {
    bottom: 70px !important;

    @media screen and (min-width: 620px) {
      width: auto !important;
      left: 80% !important;
    }

  }

  .swiper-pagination-bullet {
    opacity: 1;
    position: relative;
    width: 30px;
    height: 30px;
    background-color: transparent;

    &::before {
      content: '';
      height: 100%;
      width: 100%;
      background-image: conic-gradient(hsla(0, 0%, 51%, 1) 100%, hsla(0, 0%, 51%, 1) 100%);
      position: absolute;
      bottom: 0;
      display: block;
      left: 0;
      right: 0;
      top: 0;
      transition: 1s;
      opacity: 0;
      border-radius: 50%;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 12px;
      height: 12px;
      margin-top: -6px;
      margin-left: -6px;
      box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.21), 0px 2px 1px 0px rgba(0, 0, 0, 0.13), 0px 3px 1px 0px rgba(0, 0, 0, 0.04), 0px 5px 1px 0px rgba(0, 0, 0, 0);
      background: rgb(255, 255, 255);
      border-radius: 50%;
    }
  }

  .swiper-pagination-bullet-active {
    &::before {
      opacity: 1;
    }
  }

  .swiper-slide-active {

    .index-slider__title,
    .index-slider__text,
    .index-slider__link {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

.advantages {

  // .advantages__container

  &__container {
    max-width: 1365px;
  }

  // .advantages__inner

  &__inner {}

  // .advantages__title

  &__title {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: clamp(20px, 1vw, 24px);
    font-weight: 300;
    line-height: 140%;

    @media screen and (min-width: 765px) {
      max-width: 765px;
      margin: 0 auto;
      text-align: left;
    }
  }

  // .advantages__row

  &__row {
    display: flex;
    justify-content: space-between;
    margin-top: clamp(70px, 5vw, 100px);
    gap: 50px;
    flex-wrap: wrap;
  }

  // .advantages__col

  &__col {

    @media screen and (max-width: 425px) {
      width: 100%;
    }

    &:nth-child(1) {
      .item-advantages__text {
        max-width: 274px;
      }
    }

    &:nth-child(2) {
      .item-advantages__text {
        max-width: 341px;
      }
    }

    &:nth-child(3) {
      .item-advantages__text {
        max-width: 283px;
      }
    }
  }

  // .advantages__item

  &__item {}
}

.item-advantages {
  @media screen and (max-width: 425px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  // .item-advantages__icon

  &__icon {
    width: 50px;
    height: 50px;
    margin-bottom: 13px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  // .item-advantages__title

  &__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 10px;
  }

  // .item-advantages__text

  &__text {
    font-size: 16px;
    line-height: 150%;
  }
}

.best-choice {

  // .best-choice__container

  &__container {
    max-width: 1365px;
  }

  // .best-choice__inner

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  // .best-choice__title

  &__title {
    text-align: center;
    margin-bottom: clamp(40px, 4vw, 60px);
  }

  // .best-choice__grid

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 67px;
    margin-bottom: 80px;
    width: 100%;
  }

  // .best-choice__item

  &__item {}

  // .best-choice__btn

  &__btn {
    padding: 25px 20px;
    border-radius: 100px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: 500;
    box-shadow: 0px 2px 4px 0px rgba(66, 66, 66, 0.1), 0px 6px 6px 0px rgba(66, 66, 66, 0.09), 0px 15px 9px 0px rgba(66, 66, 66, 0.05), 0px 26px 10px 0px rgba(66, 66, 66, 0.01), 0px 40px 11px 0px rgba(66, 66, 66, 0);

  }
}

.card-product {

  // .card-product__image

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(230, 230, 230);
    padding: 49px 74px;
    position: relative;

    img {
      width: 142px;
      height: 302px;
    }
  }

  // .card-product__colors

  &__colors {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 12px 0px;
  }

  // .card-product__color

  &__color {
    width: 16px;
    height: 16px;
    padding: 2px;
    border-radius: 50%;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20px;
      height: 20px;
      margin-top: -10px;
      margin-left: -10px;
      border-radius: 50%;
      border: 1px solid rgb(138, 138, 138);
      opacity: 0;
      transition: $animation_speed;
    }

    &._active {
      &::before {
        opacity: 1;
      }
    }
  }

  // .card-product__color-count

  &__color-count {
    color: rgb(184, 184, 184);
    font-size: 12px;
  }

  // .card-product__title

  &__title {
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 9px;
  }

  // .card-product__descr

  &__descr {
    color: rgb(145, 145, 145);
    line-height: 150%;
    margin-bottom: 40px;
  }

  // .card-product__bottom

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
  }

  // .card-product__price

  &__price {
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 140%;

    s {
      color: rgb(184, 184, 184);
      font-size: 12px;
      line-height: 150%;
    }
  }

  // .card-product__btn

  &__btn {
    text-decoration: underline;
  }
}

.selection {
  overflow: hidden;

  // .selection__inner

  &__inner {
    display: flex;
    align-items: center;
    gap: 40px;
    position: relative;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

  // .selection__body

  &__body {
    @media screen and (min-width: 768px) {
      flex: 0 0 100%;
    }

    @media screen and (max-width: 768px) {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 12;
    }
  }

  // .selection__content

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 768px) {
      width: 50%;
      align-items: flex-start;
    }
  }

  // .selection__container

  &__container {}

  // .selection__title

  &__title {
    font-size: 36px;
    line-height: 140%;
    font-weight: 300;
    max-width: 360px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;

    @media screen and (max-width: 768px) {
      color: rgba($color: $white, $alpha: 1.0);
    }

    @media screen and (max-width: 425px) {
      font-size: 30px;
      max-width: 100%;
    }
  }

  // .selection__btn

  &__btn {
    max-width: 215px;
    border: 1px solid rgba($color: $mainColor, $alpha: .03);

    @media screen and (min-width: 768px) {
      margin-left: 72px;
    }
  }

  // .selection__image

  &__image {
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      @media screen and (min-width: 768px) {
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    @media screen and (min-width: 768px) {
      flex: 0 0 50%;
      padding: 25% 0px;
      transform: translateX(-100%);
    }

  }
}

.index-work {

  // .index-work__container

  &__container {}

  // .index-work__inner

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // .index-work__title

  &__title {
    text-align: center;
    margin-bottom: clamp(30px, 3vw, 60px);
  }

  // .index-work__slider

  &__slider {
    width: 100%;
  }

  // .index-work__wrapper

  &__wrapper {}

  // .index-work__slide

  &__slide {
    position: relative;
    // padding: 0px 0px 45%;
    height: clamp(490px, 35vw, 725px);
    background-repeat: no-repeat;
    background-size: cover;
  }

  // .index-work__dot

  &__dot {
    position: absolute;
    width: 30px;
    height: 30px;
    @include flex.flex-container(center, center);
    background: rgba(255, 255, 255, 0.32);
    border-radius: 50%;
    transition: $animation_speed;

    span {
      display: block;
      width: 10px;
      height: 10px;
      background-color: rgba($color: $white, $alpha: 1.0);
      box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.21), 0px 2px 1px 0px rgba(0, 0, 0, 0.13), 0px 3px 1px 0px rgba(0, 0, 0, 0.04), 0px 5px 1px 0px rgba(0, 0, 0, 0);
      border-radius: 50%;
      transition: .2s;
    }

    p {
      position: absolute;
      left: 0%;
      top: 100%;
      border-radius: 5px;
      background: rgb(255, 255, 255, 1);
      min-width: 202px;
      padding: 15px 25px;
      font-size: 16px;
      font-weight: 600;
      line-height: 140%;
      pointer-events: none;
      transform: translateX(-10px);
      opacity: 0;
      transition: $animation_speed;
    }


    @media (hover:hover) {
      &:hover {
        span {
          width: 80%;
          height: 80%;
        }

        P {
          pointer-events: all;
          transform: translateX(0px);
          opacity: 1;
        }
      }
    }
  }

  // .index-work__buttons

  &__buttons {
    @include flex.flex-container(center, center);
    gap: 10px;

    @media screen and (min-width: 1024px) {
      display: none;
    }
  }

  // .index-work__prev

  &__prev {}

  // .index-work__next

  &__next {}

  &__prev,
  &__next {
    @include flex.flex-container(center, center);
    width: 80px;
    height: 50px;
    border-radius: 100px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 4px 0px rgba(66, 66, 66, 0.1), 0px 6px 6px 0px rgba(66, 66, 66, 0.09), 0px 15px 9px 0px rgba(66, 66, 66, 0.05), 0px 26px 10px 0px rgba(66, 66, 66, 0.01), 0px 40px 11px 0px rgba(66, 66, 66, 0);
    border: 1px solid rgba($color: $mainColor, $alpha: .05);
    margin-top: 20px;
  }

  // .index-work__btn

  &__btn {
    margin-top: clamp(20px, 2vw, 40px);
  }
}

.index-reviews {

  // .index-reviews__inner

  &__inner {
    flex-direction: column;
    @include flex.flex-container(center, center)
  }

  // .index-reviews__title

  &__title {
    text-align: center;
    margin-bottom: clamp(30px, 3vw, 60px);
  }

  // .index-reviews__slider

  &__slider {
    min-height: 266px;
    width: 100%;
  }

  // .index-reviews__wrapper

  &__wrapper {}

  // .index-reviews__slide

  &__slide {
    padding: 20px 25px;
    box-shadow: 0px 5px 10px 0px rgba(66, 66, 66, 0.05), 0px 18px 18px 0px rgba(66, 66, 66, 0.04), 0px 41px 25px 0px rgba(66, 66, 66, 0.03), 0px 73px 29px 0px rgba(66, 66, 66, 0.01), 0px 115px 32px 0px rgba(66, 66, 66, 0);
    background: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 200;
    line-height: 150%;
    border: 1px solid rgba($color: $mainColor, $alpha: .05);
  }

  // .index-reviews__item

  &__item {}
}

.reviews {

  // .reviews__top

  &__top {
    @include flex.flex-container(center, space-between);
    gap: 10px;
    margin-bottom: 10px;
  }

  // .reviews__info

  &__info {
    @include flex.flex-container(center, space-between);
    gap: 10px;

    p {
      font-size: 24px;
      font-weight: 600;
      line-height: 150%;
    }
  }

  // .reviews__avatar

  &__avatar {}

  // .reviews__logo

  &__logo {}
}

.index-questions {
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (max-width: 560px) {
    padding: 95px 0px;
  }

  // .index-questions__container

  &__container {}

  // .index-questions__inner

  &__inner {
    display: flex;
    justify-content: flex-end;
  }

  // .index-questions__body

  &__body {
    background-color: rgba($color: $white, $alpha: .65);
    padding: 80px 60px;
    max-width: 550px;


    @media screen and (max-width: 560px) {
      padding: 36px 47px;
    }
  }

  // .index-questions__title

  &__title {
    color: rgb(40, 40, 40);
    font-size: 32px;
    font-weight: 800;
    line-height: 137%;
    margin-bottom: 30px;
  }

  // .index-questions__subtitle

  &__subtitle {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 300;
    line-height: 137%;
    max-width: 360px;
    margin-bottom: 46px;
  }

  // .index-questions__buttons

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 70px;
  }

  // .index-questions__btn

  &__btn {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 0.5px solid rgb(189, 189, 189);
    border-radius: 40px;
    color: rgba($color: $white, $alpha: 1.0);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1), 0px 3px 3px 0px rgba(0, 0, 0, 0.09), 0px 8px 5px 0px rgba(0, 0, 0, 0.05), 0px 13px 5px 0px rgba(0, 0, 0, 0.01), 0px 21px 6px 0px rgba(0, 0, 0, 0);
    font-size: 16px;
    font-weight: 600;
    line-height: 137%;
  }

  &--order {
    background-color: rgba($color: $mainColor, $alpha: 1.0);
  }

  &--callback {
    background-color: rgba($color: $white, $alpha: 1.0);
    color: rgba($color: $mainColor, $alpha: 1.0);
  }

  // .index-questions__social

  &__social {
    display: flex;
    gap: 15px;
    align-items: center;
    flex-wrap: wrap;

    p {
      line-height: 130%;
    }
  }
}

.index-news {
  margin-top: 60px;

  // .index-news__container

  &__container {}

  // .index-news__inner

  &__inner {}

  // .index-news__title

  &__title {
    text-align: center;
    margin-bottom: 50px;
  }

  // .index-news__slider

  &__slider {}

  // .index-news__wrapper

  &__wrapper {}

  // .index-news__slide

  &__slide {}

  // .index-news__card

  &__card {}
}

.card-news {
  height: 100%;

  // .card-news__image

  &__image {
    width: 466px;
    height: 276px;
    display: block;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: .5s;
    }

    @media (hover: hover) {
      &:hover {
        img {
          transform: scale(1.05);
        }
      }
    }
  }

  // .card-news__content

  &__content {
    display: flex;
    flex-direction: column;
  }

  // .card-news__title

  &__title {
    font-size: 26px;
    font-weight: 500;
    line-height: 121%;
    margin-bottom: 15px;
    margin-top: 20px;
    flex: 1 1 auto;
    transition: .3s;

    @media (hover: hover) {
      &:hover {
        color: rgba($color: $mainColor, $alpha: .7);
      }
    }
  }

  // .card-news__descr

  &__descr {
    font-size: 22px;
    font-weight: 300;
    line-height: 120%;
    margin-bottom: 30px;
  }

  // .card-news__date

  &__date {
    font-size: 16px;
    font-weight: 300;
    line-height: 125%;
    margin-bottom: 36px;
  }

  // .card-news__link

  &__link {
    transition: .3s;
    display: block;
    padding: 5px 0px;
    margin-top: auto;

    @media (hover: hover) {
      &:hover {
        transform: translateX(10px);
      }
    }
  }
}


.ymaps-2-1-79-inner-panes {
  filter: grayscale(1) !important;
  -ms-filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
}